<style>
   
</style>

<h1>What would you like to say?</h1>

<form action="/posts" method="POST">
    <br>
    <textarea rows="20" cols="80" name="message" placeholder="Post"></textarea>
    <br>
    <input type="submit">
</form>